#page-topper{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#topper-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 2em;
}
#topper-header h1{
    font-size: 3.2vw;
}
#topper-header h2{
    font-size: 3vw;
}

#filter-area{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5em;
    flex-wrap: wrap;
}
#filter-area input{
    margin: .2em;
}
#filter-area select{
    margin: .2em;
}


.kidsrouter-column{
    display: flex;
    flex-direction: column;
}
#routes-onpage-videos ul li{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
#routes-onpage-videos ul li a{
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: #fff;
    width: auto;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    transition: ease-in-out .2s;
    align-items: center;
    font-size: 50px;
    margin: 1em;

}
#routes-onpage-videos ul li a:hover{
    transition: ease-in-out .2s;
    scale: 1.25;
}

#aldutcontent img {
    width: 50%;
}
select{
    padding: .5em;
}