#kids-songs-list {
display: flex;
text-align: center;
flex-direction: column;
flex-wrap: wrap;
overflow: hidden;
align-items: center;
margin-top: 2em;
}
.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
  }
.songs-list-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 3vw;
  }
  
  .song-grid {
    display: flex;
gap: 10px;
margin-top: 2em;
flex-wrap: wrap;
width: 100%;
justify-content: center;

  }
  
  .song-item {

    cursor: pointer;
    width: 400px;

  }
  
  .cover-art {

    width: 50%;
    height: auto;
    object-fit: cover;

  }
  
  .song-details {

    padding: 10px;
  }
  
  .song-title {

    font-weight: bold;
  }
  
  .subtitle {

    margin-top: 5px;

  }
  