
#movieList {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
#movieList div {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
#movieList img {
    cursor: pointer;
    margin-bottom: 1em;
    
}

#movieList h2{
   padding: 1em;
    font-size: 16px;
}
#kidscontent img {
    width: 50%;
}

#movieList p {
    font-size: large;
}

#filter-area input{
    text-align: center;
    border-radius: 10px;
}